.menu-letra{
    margin-top: 270px;
}

.letra-color{
    color: white;
}

.letra-color:hover{
    color: lightgrey;
}

.alcance{
    min-height: 650px;
}

.btn-extra {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-extra2 {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-normal {
    border-color: #45489a;
    color: #45489a;
}

.btn-normal:hover {
    background-color: #45489a;
    color: white;
}

.separador{
    margin-top: 50px;
}

.input-separador{
    margin-top: 20px;
    margin-left: 200px;
}

.input-separadorb{
    margin-top: 20px;
    margin-left: 20px;
}

.row2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    border: 3px solid #45489a;
    margin-top: 10px;
    margin-bottom: 20px;
}
th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}



